.container{
	max-width: 500 !important;
	margin: auto;
	margin-top: 4%;
	font-family: sans-serif;
	letter-spacing: 0.5px;
}

img{
	max-width: 100%;
	border-radius: 50%;

}

.msg-header{
	border: 1px solid #ccc;
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background-color: #007bff;

}

.msg-header-img{
	border-radius: 50%;
	width: 40px;
	margin-left: 5%;
	margin-top: 12px;
	float: left;
}

.active{
	width: 120px;
	float: left;
	margin-top: 10px;
}

.active h4{
	font-size: 20px;
	margin-left: 10px;
	color: #fff;
}

.chat-page{
	padding: 0 0 50px 0;
}

.msg-inbox{
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px;
}

.chats{
	padding: 30px 15px 0 25px;
}

.msg-page{
	height: 516px;
	overflow-y: auto;
}

.received-msg{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%; 
}

.received-msg-inbox{
	width: 57%;
}

.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;

}

.outgoing-chats{
	overflow: hidden;
	margin: 26px 20px;
}

.outgoing-chats-msg{
	float: left;
	width: 46%;
	margin-left: 45%;
}

.outgoing-chats-msg p{
	background: #007bff none repeat scroll 0 0;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.msg-bottom{
	position: relative;
	height: 10%;
}

.input-group{

	margin-top: 13px;
	margin-right: 20px;
	outline: none !important;
	border-radius: 20px;
	width: 100% !important;
	background-color: #fff;
}

.form-control{
	border: none !important;
	border-radius: 20px !important;
	color: #007bff;
}

.input-group-text{
	background: transparent !important;
	border: none !important;
}

.input-group fa{
	color: #007bff;
	float: right;
}

.form-control:focus{
	border-color: none !important;
	box-shadow: none !important;
	border-radius: 20px;
}

