{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url('{% static 'images/t3.jpg' %}');" class="babies">
    <div class="login-logo">
        <i class="fab fa-accusoft"></i>
        <h2 class="name">Ataraxia</h2>
    </div>
    
    <div class="right">
        <div class="login">
            <h1>Login</h1>
            <form class="login-form" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
        
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                {% endfor %}
                <button type="submit">Login ></button>
                <a href="">Don't have an account?</a>
            </form> 
        </div>
    </div>

    <div class="login-info">
        <h1 class="heading">Have an account?</h1>
        <p class="describe">
            Log into your account now to access personalized scholarships and many exciting features!!
        </p>
    </div>
    
</body>