body{
    background-color: coral;
    background-repeat: no-repeat;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}