<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="chat">
    <header>
        <div class="logo-container">   
            <section class="logo">
                <i class="fab fa-accusoft"></i>
            </section>
            <h2 class="name">Ataraxia</h2>
        </div>
        
        <nav class="top-nav">
            <ul class="nav-links">
                <li ><button class="in "><a class="nav-link" href="  ">Login</a></button></li>
                <li><button class="out"><a class="nav-link"  href="">Signup</a></button></li>
                <li><button class="out"><a class="nav-link" href="">Logout</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="side-nav">
            <ul class="side-links">
                <li class="side-link"><a href=""><ion-icon name="apps"></ion-icon></a></li><!--All-->
                <li class="side-link"><a href=""><ion-icon name="today"></ion-icon></a></li><!--Personal-->
                <li class="side-link"><a href=""><ion-icon name="heart-circle"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><ion-icon name="chatbubbles"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><img src="/images/t2.jpg" alt=""></a></li><!--Profile-->
            </ul>
        </nav>
       <div class="chat-container">
           <div class="faq">
                <h3>People usually ask :</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, natus.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum sed voluptatem!</li>
                </ul>
           </div>
           <div class="chat-bot">
               <div class="chat-head">
                    <div class="chat-dp">
                       
                    </div>
                    <div class="chat-name">
                        AtaraxiaBot
                    </div>
               </div>
                <div class="chat-space">
                    <div class="recieve">
                        <div class="u-pic"></div>
                        <div class="u-content">
                            Hi Andrew! How are you?
                            <div class="u-time">
                                11:56 am
                            </div>
                        </div> 
                    </div>
                    <div class="send">
                        <div class="my-content">
                            Lorem, ipsum.
                            <div class="my-time">
                                11:56 am
                            </div>
                        </div>
                        <div class="my-pic"></div>
                    </div>
                    <div class="recieve">
                        <div class="u-pic"></div>
                        <div class="u-content">
                            Lorem ipsum dolor sit amet.
                            <div class="u-time">
                                11:56 am
                            </div>
                        </div> 
                    </div>
                    <div class="send">
                        <div class="my-content">
                           Lorem ipsum dolor sit amet.
                            <div class="my-time">
                                11:56 am
                            </div>
                        </div>
                        <div class="my-pic"></div>
                    </div>
                    <div class="recieve">
                        <div class="u-pic"></div>
                        <div class="u-content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, incidunt!
                            <div class="u-time">
                                11:56 am
                            </div>
                        </div> 
                    </div>
                    <div class="send">
                        <div class="my-content">
                           Autem porro pariatur, vel quis sunt ipsam.
                            <div class="my-time">
                                11:56 am
                            </div>
                        </div>
                        <div class="my-pic"></div>
                    </div>
                    <div class="recieve">
                        <div class="u-pic"></div>
                        <div class="u-content">
                            Lorem ipsum dolor sit amet.
                            <div class="u-time">
                                11:56 am
                            </div>
                        </div> 
                    </div>
                    <div class="send">
                        <div class="my-content">
                           Autem porro pariatur, vel quis sunt ipsam.
                            <div class="my-time">
                                11:56 am
                            </div>
                        </div>
                        <div class="my-pic"></div>
                    </div>
                    <div class="recieve">
                        <div class="u-pic"></div>
                        <div class="u-content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae odio, nemo ducimus accusamus repellendus optio.
                            <div class="u-time">
                                11:56 am
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="chat-input">
                    <textarea class="chat-type" placeholder="Type here" required maxlength="300" autofocus spellcheck="false" ></textarea>
                    <button class="chat-send" type="submit"><ion-icon name="send"></ion-icon></button>
                </div>
           </div>
       </div>
    </main>
</body>
</html>