<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="devs">
    <header>
        <div class="logo-container">
            
            <section class="logo">
                <i class="fab fa-accusoft"></i>
            </section>
           
            <h2 class="name">Ataraxia</h2>
        </div>
        
        <nav class="top-nav">
            <ul class="nav-links">
                <li ><button class="in "><a class="nav-link" href="  ">Login</a></button></li>
                <li><button class="out"><a class="nav-link"  href="">Signup</a></button></li>
                <li><button class="out"><a class="nav-link" href="">Logout</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="side-nav">
            <ul class="side-links">
                <li class="side-link"><a href=""><ion-icon name="apps"></ion-icon></a></li><!--All-->
                <li class="side-link"><a href=""><ion-icon name="today"></ion-icon></a></li><!--Personal-->
                <li class="side-link"><a href=""><ion-icon name="heart-circle"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><img src="" alt="">Pro</a></li><!--Profile-->
            </ul>
        </nav>
        <section class="detail-container">
            <div class="first">
                <div class="d-scholarships">
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                    <div class="d-scholarship">   
                        <div class="d-star"><input type="checkbox" name="star" id="check"></div>
                        <div class="d-title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <div class="d-domain">MBA</div>  
                    </div>
                </div>
          
            </div>
            <div class="second">
                <div class="sec">
                    <input type="checkbox" name="" id="">
                    <button>close</button>
                </div>
                <div class="post">
                    <h1 class="post-title">Lorem ipsum dolor sit amet.</h1>
                    <h4 class="post-domain">Domain: Lorem, ipsum.</h4>
                    <div class="post-image">
                        <img src="/images/1.jpg" alt="Post-image">
                    </div><br><br>
                    <p class="post-criteria">Scholarship criteria: 8.5%</p>
                    <p class="post-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis natus sapiente atque magni! Optio, sapiente perspiciatis. Iure perspiciatis quisquam blanditiis est voluptatem, enim tempore dolores! Cum numquam, harum excepturi nostrum necessitatibus praesentium quaerat dolorum unde! Magnam ex, excepturi, qui quibusdam reprehenderit vero mollitia optio expedita molestiae non soluta quo. Ipsum!
                    </p>
                    <p class="post-deadline">Deadline: 85-65-4126</p>
                    <p class="post-dated">~ posted on 24-85-3521</p>
                    
                </div>
            </div>
        </div>
    </main>

</body>