{% extends 'base_layout.html' %}

{% block content%}
<div class="city">
    <header>
        <div class="logo-container">   
            <section class="logo">
                <i class="fab fa-accusoft"></i>
            </section>
            <h2 class="name">Ataraxia</h2>
        </div>
        
        <nav class="top-nav">
            <ul class="nav-links">
                <li ><button class="in "><a class="nav-link" href="  ">Login</a></button></li>
                <li><button class="out"><a class="nav-link"  href="">Signup</a></button></li>
                <li><button class="out"><a class="nav-link" href="">Logout</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="side-nav">
            <ul class="side-links">
                <li class="side-link"><a href=""><ion-icon name="apps"></ion-icon></a></li><!--All-->
                <li class="side-link"><a href=""><ion-icon name="today"></ion-icon></a></li><!--Personal-->
                <li class="side-link"><a href=""><ion-icon name="heart-circle"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><ion-icon name="chatbubbles"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><img src="" alt="">Pro</a></li><!--Profile-->
            </ul>
        </nav>
       <div class="container">
            <div class="profile-container">
                <!-- <div class="dp">
                    <img class="dp-img" src="../../static/images/t2.jpg" alt="profile picture">
                </div> -->
                <div class="username">
                   <h1>Username</h1> 
                </div>
                <div class="parts">
                    <div class="p1">
                        <label for="">Name:</label>
                        <div class="fullname">
                           Firstname Lastname
                        </div><br>
                        <label for="">E-mail:</label>
                        <div class="mail">
                           {{email}} 
                        </div>
                    
                   
                    <div>Some details we extracted :</div><br/>
                    {% for p in phone %}
                        <div>Phone {{p}}</div>
                    {% endfor %}
                    <b>Education</b>
                    {% for e in education %}
                        <div> {{e}}</div><br/>
                    {% endfor %}
                    
                     <b>Scores  (Precentage/GPA):</b>
                    {% for s in scores %}
                        <div> {{s}}</div><br/>
                    {% endfor %}


                    </div>
                </div>
                <form >
                <button class="edit"><a href="{% url 'scholarships:specific' %}">Continue</a></button>
            </div>
       </div>
    </main>
</div>
{% endblock %}