{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        {{profile.User.username}}
        {{profile.User.first_name}}
        {{profile.User.last_name}}
        {{profile.User.email}}
       <img src="{{ profile.profile_img.url }}" style="width: 20px; height: 50px;" alt="img" />
       <a href="{{profile.Resume_url}}">{{profile.Resume.name}}</a>
        
</body>
</html>