<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="city">
    <header>
        <div class="logo-container">   
            <section class="logo">
                <i class="fab fa-accusoft"></i>
            </section>
            <h2 class="name">Ataraxia</h2>
        </div>
        
        <nav class="top-nav">
            <ul class="nav-links">
                <li ><button class="in "><a class="nav-link" href="  ">Login</a></button></li>
                <li><button class="out"><a class="nav-link"  href="">Signup</a></button></li>
                <li><button class="out"><a class="nav-link" href="">Logout</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="side-nav">
            <ul class="side-links">
                <li class="side-link"><a href=""><ion-icon name="apps"></ion-icon></a></li><!--All-->
                <li class="side-link"><a href=""><ion-icon name="today"></ion-icon></a></li><!--Personal-->
                <li class="side-link"><a href=""><ion-icon name="heart-circle"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><ion-icon name="chatbubbles"></ion-icon></a></li><!--Star-->
                <li class="side-link"><a href=""><img src="" alt="">Pro</a></li><!--Profile-->
            </ul>
        </nav>
       <div class="container">
            <div class="profile-container">
                <div class="dp">
                    <img class="dp-img" src="/images/t2.jpg" alt="profile picture">
                </div>
                <div class="username">
                   <h1>Username</h1> 
                </div>
                <div class="parts">
                    <div class="p1">
                        <label for="">Name:</label>
                        <div class="fullname">
                           Firstname Lastname
                        </div><br>
                        <label for="">E-mail:</label>
                        <div class="mail">
                            name@x.com
                        </div>
                    </div>
                    <div class="p2">
                        <div class="stat">
                            Update your profile
                            <!-- Display doc link or so -->
                        </div>

                        <!-- <div class="doc">
                            
                           <label for="" Browse></label> <input type="file">
                        </div> -->
                    </div>
                </div>
                <button class="edit">Edit Profile</button>
            </div>
       </div>
    </main>
</body>