<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="babies">
    <div class="login-logo">
        <i class="fab fa-accusoft"></i>
        <h2 class="name">Ataraxia</h2>
    </div>
    
    <div class="right">
        <div class="login">
            <h1 id="Sign">Sign Up</h1>
            <form class="sign-form" action="">
                <label for="">Email</label>
                <input type="email"><br>
                <label for="">Username</label>
                <input type="text" ><br>
                <label for="">Password</label>
                <input type="password" name="" id=""><br>
                <label for="">Confirm Password</label>
                <input type="password" name="" id=""><br> 
                <button id="s-btn" type="submit">SignUp ></button>
                <a href="">Already have an account?</a>
            </form> 
        </div>
    </div>

    <div class="login-info">
        <h1 class="heading">Don't have an account?</h1>
        <p class="describe">
            Get personalized scholarships and many exciting features by creating your Ataraxia account 
        </p>
    </div>
    
</body>