<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/cdb8be5d1b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="devs">
    <header>
        <div class="logo-container">
            
            <section class="logo">
                <i class="fab fa-accusoft"></i>
            </section>
           
            <h2 class="name">Ataraxia</h2>
        </div>
        
        <nav class="top-nav">
            <ul class="nav-links">
                <li ><button class="in "><a class="nav-link" href="  ">Login</a></button></li>
                <li><button class="out"><a class="nav-link"  href="">Signup</a></button></li>
                <li><button class="out"><a class="nav-link" href="">Logout</a></button></li>
            </ul>
        </nav>
    </header>

    <main>
     
            <nav class="side-nav">
                <ul class="side-links">
                    <li class="side-link"><a href=""><ion-icon name="apps"></ion-icon></a></li><!--All-->
                    <li class="side-link"><a href=""><ion-icon name="today"></ion-icon></a></li><!--Personal-->
                    <li class="side-link"><a href=""><ion-icon name="heart-circle"></ion-icon></a></li><!--Star-->
                    <li class="side-link"><a href=""><img src="" alt="">Pro</a></li><!--Profile-->
                </ul>
            </nav>
        <section class="container">
            <div class="scholarships">
                
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem Ipsum is simply dummy text of the printing an</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">MBA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title"> the 1500s, when an unknown printer took a galley of type and scrambled it to make a typ</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">Lorem</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">remaining essentially unchanged</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">Bhai</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, neque.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">Engineer</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">Kuch nahi</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">CA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship"> 
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem, ipsum.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">Arts walo</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship"> 
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">MBA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship"> 
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">MBA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship"> 
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolores sit iure.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">MBA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    <div class="scholarship">
                        
                        <div class="star"><input type="checkbox" name="star" id="check"></div>
                        <div class="title">Lorem ipsum dolor sit amet.</div>
                        <!-- <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat et ex nisi nihil saepe praesentium!</div> -->
                        <div class="domain">MBA</div>
                        <div class="p-date">24-25-2541</div>
                        <div class="criteria">85</div>
                        <div class="deadline">25-45-2455</div> 
                    </div>
                    
                
            </div>
          
        </section>
        
    </main>
    
</body>
</html>